<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HeartRateHoge WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>HeartRateHoge WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HeartRateHoge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D28FDEEB1DB714F200EB4F22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D28FDEFF1DB714F300EB4F22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D28FDF0A1DB714F300EB4F22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D28FDF131DB714F300EB4F22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
